<!-- <router-outlet></router-outlet> -->
<div class="tester">
  <div class="commands">
    <input
      type="text"
      class="input-minimal"
      placeholder="URL de paguina a testear"
      [formControl]="SitieByTester"
    />
    <div class="btn-group">
      <button
        class="btn btn-success"
        (click)="testerURL()"
        [disabled]="SitieByTester.invalid || Proccesing"
      >
        Probar
      </button>
      <button class="btn btn-primary" (click)="clearURL()">Limpiar</button>
      <button class="btn btn-info" (click)="findSeries()">Buscar</button>
    </div>
  </div>
  <div
    class="message"
    onclick="AnswerSitie.visible = false"
    [ngClass]="AnswerSitie.class"
    *ngIf="AnswerSitie.visible"
  >
    {{ AnswerSitie.text }}
  </div>
</div>

<div class="container-series">
  <ng-container *ngIf="SeriesCollection.length > 0; else NotContain">
    <!-- <div class="container" *ngFor="let serie of SeriesCollection">
      <div class="title" [style]="{ 'background-color': serie.color }">
        <h2>{{ serie.name }}</h2>
        <span> Emitido: {{ serie.description[0].day }} </span><br />
        <span> Capitulos en total {{ serie.totalChapter }} </span>
      </div>
      <div class="content">
        <div class="card" *ngFor="let chapter of serie.description">
          <div class="image">
            <a [href]="chapter.link">
              <img [src]="chapter.image" width="150px" height="210px" />
            </a>
          </div>
          <div class="description">
            {{ chapter.chapter }}
          </div>
        </div>
      </div>
    </div> -->
    
    <app-card-serie [data]="SeriesCollection" class="container"></app-card-serie>
  </ng-container>
  <ng-template #NotContain>
    <app-card-loading [cantCards]="2" [frontPages]="2"></app-card-loading>
  </ng-template>
</div>