<!-- <router-outlet></router-outlet> -->
<div class="tester">
  <div class="commands">
    <input
      type="text"
      class="input-minimal"
      placeholder="URL de paguina a testear"
      [formControl]="SitieByTester"
    />
    <div class="btn-group">
      <button
        class="btn btn-success"
        (click)="testerURL()"
        [disabled]="SitieByTester.invalid || Proccesing"
      >
        Probar
      </button>
      <button class="btn btn-primary" (click)="clearURL()">Limpiar</button>
      <button class="btn btn-info" (click)="searchSeries()">Buscar</button>
    </div>
  </div>
  <div
    class="message"
    [ngClass]="AnswerSitie.class"
    *ngIf="AnswerSitie.visible"
  >
    <div>{{ AnswerSitie.text }}</div>
    <button
      class="btn x"
      [ngClass]="AnswerSitie.class"
      (click)="AnswerSitie.visible = false"
    >
      &times;
    </button>
  </div>
</div>

<div class="container-series">
  <ng-container *ngIf="SeriesCollection.length > 0; else NotContain">
    <app-card-serie [data]="SeriesCollection"></app-card-serie>
  </ng-container>
  <ng-template #NotContain>
    <app-card-loading [cantCards]="2" [frontPages]="2"></app-card-loading>
  </ng-template>
</div>
